<div class="stepsdemo-content centerForm">
  <p-card class="personalBar">
    <form #resumeForm="ngForm">
      <div class="col-md-4">

        <div class="spacing-themeMsg"><h4>You are almost done. Pick a theme and generate your resume!</h4></div>

        <div class="spacing-left">
          <p-radioButton name="theme1" value="Purple" [(ngModel)]="selectedTheme" id="theme1"></p-radioButton>
          <label for="theme1" class="spacing-radioButton">Purple Theme</label>


          <p-radioButton name="theme2" value="Blue" [(ngModel)]="selectedTheme" id="theme2"></p-radioButton>
          <label for="theme2" class="spacing-radioButton">Blue Theme</label>


          <p-radioButton name="theme3" value="Brown" [(ngModel)]="selectedTheme" id="theme3"></p-radioButton>
          <label for="theme3" class="spacing-radioButton">Blue-Orange Theme</label>

          <p-radioButton name="theme4" value="Maroon" [(ngModel)]="selectedTheme" id="theme4"></p-radioButton>
          <label for="theme4" class="spacing-radioButton">Maroon Theme</label>

        </div>
        <br>
        <div class="spacing-left"><img alt="Card" src="assets/images/generate.gif" class="resizeGif"></div>


        <br>
        <div class="floatButtons">
          <p-button (click)="resumeForm.valid ? generatePdf('open') : ''" icon="pi pi-file-pdf" label="Open PDF"
                    class="btn btn-primary d-flex align-items-center justify-content-center row spacing-all">
          </p-button>
          <p-button (click)="resumeForm.valid ? generatePdf('download') : ''" icon="pi pi-download" label="Download PDF"
                    class="btn btn-primary d-flex align-items-center justify-content-center row spacing-all">
          </p-button>
          <p-button (click)="resumeForm.valid ? generatePdf('print') : ''" icon="pi pi-print" label="Print PDF"
                    class="btn btn-primary d-flex align-items-center justify-content-center row spacing-all">
          </p-button>

          <p-button type='reset' (click)="confirmPosition('top')" icon="pi pi-times-circle" label="Reset"
                    class="spacing-all">
          </p-button>
        </div>
      </div>
    </form>
    <p-confirmDialog [style]="{width: '50vw'}" key="positionDialog" [position]="position" [baseZIndex]="10000" rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>


    <ng-template pTemplate="footer">
      <div class="grid grid-nogutter justify-content-end">
        <p-button label="Back" (onClick)="previousPage()" icon="pi pi-angle-left" iconPos="left"></p-button>
      </div>
    </ng-template>


  </p-card>
</div>
