<div class="stepsdemo-content centerForm">
  <p-card class="personalBar">
    <form #resumeForm="ngForm">
      <div class="shadow-sm card">
        <div class="card-body">
          <div class="d-flex justify-content-between card-title">
            <h2 class="d-flex align-items-center">
              <i class="material-icons">
                timeline
              </i>
              Experience</h2>
            <p-button class="btn btn-primary" icon="pi pi-plus" (click)="addExperience()"></p-button>
          </div>
          <br>
          <div class="row" *ngFor="let ex of resume.experiences; let i=index">

            <h4>
              <i class="pi pi-chevron-right"></i>
              Job</h4>
            <p-button class="btn btn-primary" icon="pi pi-minus" (click)="removeExperience(i)"></p-button>

            <div class="col-md-6">
              <div class="form-group spacing">
                <input type="text" pInputText class="form-control" name="employer{{i}}" [(ngModel)]="ex.employer"
                       placeholder="Employer" #Employer="ngModel" required
                       [ngClass]="{'is-invalid': Employer.invalid && (Employer.touched) }">
              </div>

              <div class="form-group spacing">
                <input type="text" pInputText class="form-control" name="jobTitle{{i}}" [(ngModel)]="ex.jobTitle"
                       placeholder="Job Title" #JobTitle="ngModel" required
                       [ngClass]="{'is-invalid': JobTitle.invalid && (JobTitle.touched) }">
              </div>
              <div class="form-group">
                <div class="form-group spacing">
                    <textarea class="form-control" name="jobDescription{{i}}" [(ngModel)]="ex.jobDescription" rows="3"
                              placeholder="Job Description" pInputTextarea></textarea>
                </div>
              </div>

              <div class="field col-12 md:col-4 spacing">
                <p-calendar [(ngModel)]="ex.startDate" [showIcon]="true" view="month" dateFormat="yy/mm" id="icon"
                            class="form-control"
                            name="startDate{{i}}" placeholder="Start Date" #startDate="ngModel"> <!--required
                            [ngClass]="{'is-invalid': startDate.invalid && (startDate.touched || resumeForm.submitted) }"-->
                </p-calendar>
              </div>

              <div class="field col-12 md:col-4 spacing">
                <p-calendar [(ngModel)]="ex.endDate" [showIcon]="true" view="month" dateFormat="yy/mm" id="icon2"
                            class="form-control"
                            name="endDate{{i}}" placeholder="End Date" #endDate="ngModel"></p-calendar>
                <p-checkbox [(ngModel)]="ex.current" [binary]="true" name="currentDate{{i}}" id="binary"
                            class="spacing-left centerCheckBox"></p-checkbox>
                <label for="binary" class="form-control checkBoxText">I'm still working here!</label>
              </div>
              <br>
            </div>
          </div>
        </div>
      </div>
    </form>


    <ng-template pTemplate="footer">
      <div class="grid grid-nogutter justify-content-end">
        <p-button label="Back" (onClick)="previousPage()" icon="pi pi-angle-left" iconPos="left"></p-button>
        <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"
                  class="floatRight"></p-button>
      </div>
    </ng-template>


  </p-card>
</div>
