<div class="stepsdemo-content centerForm">
  <p-card class="personalBar">
    <form #resumeForm="ngForm">
      <div class="shadow-sm card">
        <div class="card-body">
          <div class="d-flex justify-content-between card-title">
            <h2 class="d-flex align-items-center">
              <i class="material-icons">
                school</i>
              Education</h2>
            <p-button class="btn btn-primary" icon="pi pi-plus-circle" (click)="addEducation()"></p-button>
          </div>
          <div class="row" *ngFor="let ed of resume.educations; let i=index">
            <div class="col-md-3">
              <div class="form-group spacing">
                <select class="form-control" placeholder="Degree" name="degree{{i}}" [(ngModel)]="ed.degree"
                        #Degree="ngModel" required
                        [ngClass]="{'is-invalid': Degree.invalid && (Degree.touched || resumeForm.submitted) }">
                  <option [value]="d" *ngFor="let d of degrees">{{d}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group spacing">
                <input type="text" pInputText class="form-control" name="college{{i}}" [(ngModel)]="ed.college"
                       placeholder="School/College" #College="ngModel" required
                       [ngClass]="{'is-invalid': College.invalid && (College.touched || resumeForm.submitted) }">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group spacing">
                <input type="text" pInputText class="form-control" name="city{{i}}" [(ngModel)]="ed.city"
                       placeholder="City" #City="ngModel" required
                       [ngClass]="{'is-invalid': City.invalid && (City.touched || resumeForm.submitted) }">
              </div>
            </div>

            <div class="field col-12 md:col-4 spacing">
              <p-calendar [(ngModel)]="ed.startDate" [showIcon]="true" view="month" dateFormat="yy/mm" id="icon"
                          class="form-control"
                          name="startDate{{i}}" placeholder="Start Date" #startDate="ngModel"> <!--required
                       [ngClass]="{'is-invalid': startDate.invalid && (startDate.touched || resumeForm.submitted) }"-->
              </p-calendar>
            </div>

            <div class="field col-12 md:col-4 spacing">
              <p-calendar [(ngModel)]="ed.endDate" [showIcon]="true" view="month" dateFormat="yy/mm" id="icon2"
                          class="form-control"
                          name="endDate{{i}}" placeholder="End Date" #endDate="ngModel"></p-calendar>
              <p-checkbox [(ngModel)]="ed.current" [binary]="true" name="currentDate{{i}}" id="binary"
                          class="spacing-left centerCheckBox"></p-checkbox>
              <label for="binary" class="form-control checkBoxText">I'm still working here!</label>
            </div>


          </div>
        </div>
      </div>

      <!-- Other Details -->

      <div class="shadow-sm card">
        <div class="card-body">
          <h4 class="card-title d-flex align-items-center">
            <i class="material-icons"> list </i>Other Details</h4>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                  <textarea type="text" class="form-control" [(ngModel)]="resume.otherDetails" name="otherDetails"
                            rows="4" pInputTextarea></textarea>

              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
    </form>

    <ng-template pTemplate="footer">
      <div class="grid grid-nogutter justify-content-end">
        <p-button label="Back" (onClick)="previousPage()" icon="pi pi-angle-left" iconPos="left"></p-button>
        <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"  class="floatRight"></p-button>
      </div>
    </ng-template>
  </p-card>
</div>


