<div class="stepsdemo-content centerForm">
  <p-card class="personalBar">
    <form #resumeForm="ngForm">
      <div class="shadow-sm card">
        <div class="card-body">
          <div class="d-flex justify-content-between card-title">
            <h2 class="d-flex align-items-center">
              <i class="material-icons">
                school</i>
              Education</h2>
            <p-button class="btn btn-primary" icon="pi pi-plus" (click)="addEducation()"></p-button>
          </div>
          <div class="row" *ngFor="let ed of resume.educations; let i=index">
            <h4>
              <i class="pi pi-chevron-right"></i>
              Degree</h4>
            <p-button class="btn btn-primary" icon="pi pi-minus" (click)="removeEducation(i)"></p-button>
            <div class="col-md-3">
              <div class="form-group spacing">
                <p-dropdown [options]="degrees" [(ngModel)]="ed.degree" name="degree{{i}}" placeholder="Select a degree" optionLabel="label" [showClear]="true" class="lvl"></p-dropdown>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group spacing">
                <input type="text" pInputText class="form-control" name="college{{i}}" [(ngModel)]="ed.college"
                       placeholder="School/College" #College="ngModel" required
                       [ngClass]="{'is-invalid': College.invalid && (College.touched || resumeForm.submitted) }">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group spacing">
                <input type="text" pInputText class="form-control" name="city{{i}}" [(ngModel)]="ed.city"
                       placeholder="City" #City="ngModel" required
                       [ngClass]="{'is-invalid': City.invalid && (City.touched || resumeForm.submitted) }">
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group spacing">
                <input type="text" pInputText class="form-control" name="specialization{{i}}"
                       [(ngModel)]="ed.specialization"
                       placeholder="Specialization" #Specialization="ngModel" required
                       [ngClass]="{'is-invalid': Specialization.invalid && (Specialization.touched || resumeForm.submitted) }">
              </div>
            </div>

            <div class="spacing">
              <p-calendar [(ngModel)]="ed.startDate" [showIcon]="true" view="month" dateFormat="yy/mm" id="icon"
                          class="form-control"
                          name="startDate{{i}}" placeholder="Start Date" #startDate="ngModel"> <!--required
                       [ngClass]="{'is-invalid': startDate.invalid && (startDate.touched || resumeForm.submitted) }"-->
              </p-calendar>
            </div>

            <div class="spacing">
              <p-calendar [(ngModel)]="ed.endDate" [showIcon]="true" view="month" dateFormat="yy/mm" id="icon2"
                          class="form-control"
                          name="endDate{{i}}" placeholder="End Date" #endDate="ngModel"></p-calendar>
              <p-checkbox [(ngModel)]="ed.current" [binary]="true" name="currentDate{{i}}" id="binary"
                          class="spacing-left centerCheckBox"></p-checkbox>
              <label for="binary" class="form-control checkBoxText">I'm still studying here!</label>
            </div>


          </div>
        </div>
      </div>


      <br><br>
      <div>
        <div class="spacing-bottom">
          <h2><i class="spacing-all pi pi-list"></i>Other Details</h2>
          <p-button class="spacing-bottom" icon="pi pi-plus" (click)="addDetails()"></p-button>
        </div>

        <div class="spacing-bottom" *ngFor="let v of resume.otherDetails; let i=index">
          <h2>
            <i class="pi pi-chevron-right"></i> Details
          </h2>
          <p-button class="btn btn-primary" icon="pi pi-minus" (click)="removeDetails(i)"></p-button>
          <div class="form-group spacing">
            <p-dropdown [options]="types" [(ngModel)]="v.type" name="type{{i}}" placeholder="Select a degree" optionLabel="label" [showClear]="true" class="lvl"></p-dropdown>
          </div>
          <div>
            <div class="spacing">
                    <textarea name="details{{i}}" [(ngModel)]="v.value" rows="8" cols="80"
                              placeholder="Job Description" pInputTextarea></textarea>
            </div>
          </div>
        </div>
      </div>


    </form>


    <ng-template pTemplate="footer">
      <div class="grid grid-nogutter justify-content-end">
        <p-button label="Back" (onClick)="previousPage()" icon="pi pi-angle-left" iconPos="left"></p-button>
        <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"
                  class="floatRight"></p-button>
      </div>
    </ng-template>
  </p-card>
</div>


