<div class="stepsdemo-content centerForm">
  <p-card class="personalBar">

    <div class="shadow-sm card">
      <div class="card-body">
        <div class="d-flex justify-content-between card-title">

          <div class="elementSkills">
            <div>
              <h4 class="d-flex align-items-center">
                <i class="material-icons">
                  timeline
                </i>
                Soft Skills</h4>
              <p-button class="btn btn-primary" icon="pi pi-plus-circle" (click)="addSoftSkill()"></p-button>

              <br>
              <div class="row">
                <div class="col-md-4" *ngFor="let s of resume.skillsS; let i=index">
                  <div class="form-group">
                    <input type="text" pInputText class="form-control" name="skill{{i}}" [(ngModel)]="s.value"
                           placeholder="e.g. Team work/ Communication " #Skill="ngModel" required
                           [ngClass]="{'is-invalid': Skill.invalid && (Skill.touched) }">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="elementSkills">
            <div>
              <h4 class="d-flex align-items-center">
                <i class="material-icons">
                  timeline
                </i>
                Hard Skills</h4>
              <p-button class="btn btn-primary" icon="pi pi-plus-circle" (click)="addHardSkill()"></p-button>

              <br>
              <div class="row">
                <div class="col-md-4" *ngFor="let s of resume.skillsH; let i=index">
                  <div class="form-group">
                    <input type="text" pInputText class="form-control" name="skill{{i}}" [(ngModel)]="s.value"
                           placeholder="e.g. Java / Angular / .Net " #Skill="ngModel" required
                           [ngClass]="{'is-invalid': Skill.invalid && (Skill.touched) }">
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>


    <ng-template pTemplate="footer">
      <div class="grid grid-nogutter justify-content-end">
        <p-button label="Back" (onClick)="previousPage()" icon="pi pi-angle-left" iconPos="left"></p-button>
        <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"
                  class="floatRight"></p-button>
      </div>
    </ng-template>
  </p-card>
</div>

