<div class="stepsdemo-content centerForm">
  <p-card class="personalBar">

    <div class="shadow-sm card">
      <div class="card-body">
        <div class="d-flex justify-content-between card-title">

          <div class="float-child-element centerSkills">
            <div>
              <h2 class="d-flex align-items-center">
                <i class="material-icons">
                  timeline
                </i>
                Languages</h2>
              <p-button class="btn btn-primary" icon="pi pi-plus-circle" (click)="addLanguage()"></p-button>

              <div class="row">
                <div class="col-md-4" *ngFor="let s of resume.languages; let i=index">
                  <div class="form-group spacing">
                    <p-dropdown [options]="levels" [(ngModel)]="s.level" placeholder="Select a level" optionLabel="label" [showClear]="true" class="lvl"></p-dropdown>
                    <input type="text" pInputText class="form-control" name="language{{i}}" [(ngModel)]="s.value"
                           placeholder="e.g. English/German " #Language="ngModel" required
                           [ngClass]="{'is-invalid': Language.invalid && (Language.touched) }">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="float-child-element centerSkills">
            <div>
              <h2 class="d-flex align-items-center">
                <i class="material-icons">
                  timeline
                </i>
                Certifications</h2>
              <p-button class="btn btn-primary" icon="pi pi-plus-circle" (click)="addCertification()"></p-button>

              <br>
              <div class="row">
                <div class="col-md-4" *ngFor="let s of resume.certifications; let i=index">
                  <div class="form-group spacing">
                    <input type="text" pInputText class="form-control" name="certification{{i}}" [(ngModel)]="s.value"
                           placeholder="e.g. Cambridge/Toefl " #Certification="ngModel" required
                           [ngClass]="{'is-invalid': Certification.invalid && (Certification.touched) }">
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>


    <ng-template pTemplate="footer">
      <br>
      <div class="grid grid-nogutter justify-content-end">
        <p-button label="Back" (onClick)="previousPage()" icon="pi pi-angle-left" iconPos="left"></p-button>
        <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right" class="floatRight"></p-button>
      </div>
    </ng-template>
  </p-card>
</div>


