.centerForm{
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.personalBar{
  padding: 40px;
  width: 800px;
  height: 150px;
}

.spacing{
  padding-top: 10px;
}
