<p-table [value]="jobs" selectionMode="single" [(selection)]="selectedJob" dataKey="code" responsiveLayout="scroll"
         (onRowSelect)="onRowSelect($event)">
  <ng-template pTemplate="header">
    <tr>
      <th>Position</th>
      <th>City</th>
      <th>Type</th>
      <th>Career Level</th>
      <th>Studies</th>
      <th>Department</th>
      <th>Salary</th>
      <th>Industry</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-job>
    <tr [pSelectableRow]="job">
      <td>{{job.title}}</td>
      <td>{{job.city}}</td>
      <td>{{job.type}}</td>
      <td>{{job.level}}</td>
      <td>{{job.studies}}</td>
      <td>{{job.department}}</td>
      <td>{{job.salary}}</td>
      <td>{{job.industry}}</td>
    </tr>
  </ng-template>
</p-table>


