<h3 class="row">Enter keywords about your desired position and city</h3>
<span class="p-input-icon-right row">
    <input type="text" pInputText [(ngModel)]="keywords" />
  <button pButton pRipple type="button" icon="pi pi-search" class="p-button-rounded" (click)="findJobs()"></button>
</span>


<p-table class="table" [value]="jobs" selectionMode="single" [(selection)]="selectedJob" dataKey="code" responsiveLayout="scroll"
         (onRowSelect)="onRowSelect($event)">
  <ng-template pTemplate="header">
    <tr>
      <th>Position</th>
      <th>City</th>
      <th>Type</th>
      <th>Career Level</th>
      <th>Studies</th>
      <th>Department</th>
      <th>Salary</th>
      <th>Industry</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-job>
    <tr [pSelectableRow]="job">
      <td>{{job.title}}</td>
      <td>{{job.city}}</td>
      <td>{{job.type}}</td>
      <td>{{job.level}}</td>
      <td>{{job.studies}}</td>
      <td>{{job.department}}</td>
      <td>{{job.salary}}</td>
      <td>{{job.industry}}</td>
    </tr>
  </ng-template>
</p-table>

<p-dialog header="Just a few seconds away.." [(visible)]="displayPosition" [position]="position" [modal]="true" [style]="{width: '50vw'}"
          [draggable]="false" [resizable]="false">
  <p>We're looking for the ideal job for you right now!
    If the table does not appear after 60 seconds, refresh the page.</p>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="displayPosition=false" label="Ok" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>


