.row{
  padding: 6px;
}
.align{
  display:inline-block;
}

.item{
  background-color: lightblue;
  padding:10px;
}
.card{
  padding-right: 10px;
}

.table{
  padding:50px;
}

.searchButton{
  padding-left:10px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
