.row{
  padding: 10px;
}

.card{
  margin: 10px;
}

.spacing{
  padding-top: 5px;

}


/*
.material-icons{
  font-size: 30px;
}

button span{
  font-size: 22px;
}

.action-buttons button{
  margin : 5px;
}
*/
