.topnav {
  overflow: hidden;
  background-color: #F8F8F8;
  padding: 0 20px;
}

.button-right {
  float: right;
  margin: 5px 7px;
}

.topnav a {
  float: left;
  color: darkslategray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  transition: 0.3s;
}

.topnav a:hover, .topnav a.active:hover, .topnav a.inactive:hover {
  color: #f2f2f2;
  background: #883cae;
}

.topnav a.active {
  color: #883cae;
}

.topnav a.inactive {
  color: darkslategray;
}
