<div class="topnav">
  <a [routerLink]="['/home']" (click)="changeStatuses('home')"
     [ngClass]="statusHome.value ? 'active' : 'inactive'" >{{'navigation.home' | translate}}</a>
  <a [routerLink]="['/export']" (click)="changeStatuses('export')"
     [ngClass]="statusExport.value ? 'active' : 'inactive'" >{{'How to?' | translate}}</a>
  <a [routerLink]="['/steps']" (click)="changeStatuses('steps')"
     [ngClass]="statusSteps.value ? 'active' : 'inactive'" >{{'export.export' | translate}}</a>


  <div style="display: inline">
    <app-logout class="button-right logout"></app-logout>
<!--    <app-notification-list class="button-right notifications"></app-notification-list>-->
    <app-change-language class="button-right"></app-change-language>
  </div>
</div>
